<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Amir Pettigrew | Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='portstyles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    </head>
    <body>
        <a href="#"> About Me </a>
        <a href="#"> Projects </a>
        <a href="#"> Contact </a>
            <p> Hi! </p>
    </body>
</html>