<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Amir Pettigrew | Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='portstyles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    </head>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#"> About Me</a>
        <a class="nav-link" href="#"> Projects</a>
        <a class="nav-link" href="#"> Contact</a>
      </div>
    
</nav>

<div class="intro">
    <h1 style="text-align: center;"> Welcome to my safe space</h1>
</div>
        <div class="card" style="width: 28rem; height:337px; margin-left: 750px; margin-top: 100px;"> 
            
            <img src="/static/kirko.gif" class="card-img-top" alt="...">
            
        </div>
    </body>
</html>