<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Amir's Safe Space  | Home </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='portstyles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <style>
        @keyframes fadein {
            from { opacity: 0; }
            to { opacity: 1; }
        }
        @keyframes slideup {
            from { transform: translateY(220px);  opacity: 0;}
            to { transform: translateY(0); opacity: 1; }
            
        }
    </style>
    </head>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#"> About Me </a>
        <a class="nav-link" href="#"> Projects </a>
        <a class="nav-link" href="#"> Contact Me! </a>
    
</nav>
</div>
<div class="intro chewy-regular">
    <h1 style="text-align: center; animation: fadein 2s; "> Welcome to my safe space</h1>
</div>
        <div class="card" style="width: 28rem; height:339px; margin-left: 750px; margin-top: 20px; border-radius: 10px; animation: slideup 2s;" > 
            
            <img src="/static/kirko.gif" class="card-img-top" style="border-radius: 10px;">
            
        </div>
        <h1 style="text-align: center;"> Feel free to browse around~</h1>
    <div class ="profileicon" style=" margin-top: -400px; margin-left: 100px; border-image: linear-gradient(to right, #719ff5 0%, #dd6dff 100% ) 1; border-style: solid; height:200px; width: 200px;">
        </div>
        <div class="icon">
        <img src="/static/canterella.webp" style= "height:150px; width:150px; margin-top: -190px; margin-left: 125px;";>
    </div>
    <div class="sidenav">
         <a href=""> All will be swept away by the wind~</a>
    </div>

    <div class="updates">
        <h1>  Amir's Updates </h1>
        </div>
    <div class="updatebox">

    </div>
    </body>
</html>